{% extends 'base.html' %}

{% block content %}
<div class="columns">
  <div class="column is-half">
    <div class="box">
      <h2 class="title is-3">Ändra Framgångskriteria</h2>
      <div class="field">
        <div class="control">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-success is-fullwidth is-medium mt-5" type="submit">Spara</button>
          </form>
          </div>
        </div>
      </div>
      <button class="button is-info is-rounded is-small" onclick="back()">Tillbaka</button>
      <button class="button is-danger is-rounded is-small" onclick="tabort()">Ta bort</button>
    </div>
</div>

<script type="text/javascript">
  function back() {
    window.location = "/workshop1B"
  }
  function tabort() {
    window.location = "/tabort/kriteria/{{criteria.id}}"
  }
</script>
{% endblock %}
