{% extends 'base.html' %}

{% block content %}
<div class="columns">
  <div class="column is-half">
    <div class="box">
      <form method="post" action="">
         {% csrf_token %}
           <h2 class="title is-2">Är det säkert du vill ta bort handlingsvägen?</h2><br>
           <input class="button is-danger is-medium" type="submit" value="Ja" />
      </form>
    </div>
    <a href="{{back}}"><div class="button is-info is-rounded is-small">Tillbaka</div></a>
  </div>
</div>
{% endblock %}
