{% extends 'base.html' %}
{% block header %}
  {% load leaflet_tags %}
  {% leaflet_css %}
  {% leaflet_js %}
{% endblock %}

{% block content %}

{% leaflet_map "specialbigmap" callback="map_init" %}

<script type="text/javascript">

    function map_init(map, options) {
      // get point lat and lon
      var lon = "{{ city.location.x }}";
      var lat = "{{ city.location.y }}";
      // zoom to point & add it to map
      map.setView([lat, lon], 14);
      var basemaps = {
          'Nu '       : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/kustoversvamning/MapServer/WmsServer', { layers: '10', format: 'image/png', transparent: true, opacity: 0.5}),
          '1 meter  ' : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/kustoversvamning/MapServer/WmsServer', { layers: '8', format: 'image/png', transparent: true, opacity: 0.5}),
          '1.5 meter' : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/kustoversvamning/MapServer/WmsServer', { layers: '7', format: 'image/png', transparent: true, opacity: 0.5}),
          '2 meter  ' : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/kustoversvamning/MapServer/WmsServer', { layers: '6', format: 'image/png', transparent: true, opacity: 0.5}),
          '2.5 meter' : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/kustoversvamning/MapServer/WmsServer', { layers: '5', format: 'image/png', transparent: true, opacity: 0.5}),
          '3 meter  ' : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/kustoversvamning/MapServer/WmsServer', { layers: '4', format: 'image/png', transparent: true, opacity: 0.5}),
          '3.5 meter' : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/kustoversvamning/MapServer/WmsServer', { layers: '3', format: 'image/png', transparent: true, opacity: 0.5}),
          '4 meter  ' : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/kustoversvamning/MapServer/WmsServer', { layers: '2', format: 'image/png', transparent: true, opacity: 0.5}),
          '4.5 meter' : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/kustoversvamning/MapServer/WmsServer', { layers: '1', format: 'image/png', transparent: true, opacity: 0.5}),
          '5 meter  ' : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/kustoversvamning/MapServer/WmsServer', { layers: '0', format: 'image/png', transparent: true, opacity: 0.5}),
          '100 års flöde' : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/karteringar/MapServer/WmsServer', { layers: '14', format: 'image/png', transparent: true, opacity: 0.5}),
          '200 års flöde' : L.tileLayer.wms('https://gisapp.msb.se/arcgis/services/Oversvamningskarteringar/karteringar/MapServer/WmsServer', { layers: '13', format: 'image/png', transparent: true, opacity: 0.5})
      }
      L.control.layers(basemaps).addTo(map);
      var group = new L.featureGroup();
      {% for object in city.object_set.all %}
        {% if object.location.y %}
          var mark = L.marker([{{ object.location.y }},{{ object.location.x }}]).addTo(map);
          mark.bindPopup("<h2>{{ object.name }}</h2><p>{{ object.description|linebreaksbr }}</p><p><a href='../../plats/{{ object.id }}'>Läs mer</a></p>");
          group.addLayer(mark);
        {% else %}
          var jsonob = {% autoescape off %}{{ object.get_location }}{% endautoescape %};
          var latlngs = jsonob.coordinates[0];
          var reversed = []
          function reverseFunction(value, index, array) {
            reversed += array[index].reverse();
          }
          latlngs.forEach(reverseFunction);
          var polygon = L.polygon(latlngs, {color: 'red'}).addTo(map);
          polygon.bindPopup("<h2>{{ object.name }}</h2><p>{{ object.description|linebreaksbr }}</p><p><a href='../../plats/{{ object.id }}'>Läs mer</a></p>");
          group.addLayer(polygon);
        {% endif %}
      {% endfor %}
      map.fitBounds(group.getBounds());
    };
  </script>

{% endblock %}
